<div class="alert alert-info alert-dismissable" ng-if="feedback != ''">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>{{feedback}}</strong>
</div>
<div class="col-lg-12">
  <div class="row post" ng-repeat="post in posts">
    <div class="text">
      <div class="distance" data-container="body" data-html="true" data-toggle="popover" data-placement="top" data-content="Location: {{post.loc.coordinates[1]}},{{post.loc.coordinates[0]}}&nbsp;<br><a target='_blank' href='https://www.google.com/maps/@45.1103125,20.6287984,16z'>see on google map</a>">{{post.distance}}</div>
      <p>{{post.message}}</p>
    </div>
    <div class="info">
      <span>{{post.moment}}<span ng-if="post.device_id != null">&nbsp;by {{post.device_id}}</span></span>
      <span class="pull-right">
        <button><span class="glyphicon glyphicon-thumbs-up"></span> ({{post.upvotes}})</button>
        <button><span class="glyphicon glyphicon-thumbs-down"></span> ({{post.downvotes}})</button>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-centered loadbar">
      <img ng-class="{'hidden':loading == false}" src="images/ajax-loader.gif" />
    </div>
  </div>
</div>
<div class="col-lg-12">
  <ul class="pager">
    <li ng-class="{'disabled':page == 1}" class="previous"><a ng-click="getCloser()">&larr; Closer</a></li>
    <li ng-class="{'disabled':posts.length < 5}" class="next"><a ng-click="getFurther()">Further &rarr;</a></li>
  </ul>
</div>