<div class="col-lg-6">
	<div class="input-group">
	  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
	  <input type="text" class="form-control" placeholder="Username" ng-model="settings.username">
	</div>
	<br/>
	<div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" ng-model="settings.sampleData">
      </span>
      <span class="form-control">Use Sample Data</span>
    </div><!-- /input-group -->
</div>
<div class="col-lg-6">
	
</div>